/* Universal selector applies to properties in whole html */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {

    background-color: rgb(203, 194, 207);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
}

header nav {
    padding-top: 10px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}

/* CSS properties applied to a class */
.backgroundImage {
    display: flex;
    height: 100px;
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
    background-image: url("../Images/banner.jpg");
    background-size: cover;
    background-position: center;
}

section {
display: flex;
flex-direction: row;
flex-wrap:wrap;
padding: 10px; /*Created space between each row and broke up the vertical right border on aside */
}

article, aside {
    flex-basis: 100%;
    padding: 10px;
}

aside {
    border-right: 3px solid grey;
}

article {
    padding-left: 10px;
    padding-right: 10px;
}

.project-main img {
    flex-basis: 100%;
}

.project-grouping img {
    flex-basis: 35%;
 }
 

@media screen and (min-width: 800px) {
   header h1, nav {
       flex: 5;
   }
   
   aside {
        flex: 2;
    }
    
    article {
        flex: 8;
    }
}