/* Universal selector applies to properties in whole html */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {

    background-color: rgb(203, 194, 207);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
}

header nav , header h1 {
    padding-top: 10px;
    margin: auto;
    /* display: flex; */
    /* justify-content: space-evenly; */

}

.about-me-image {
    margin: 10px;
    width: 120px;
    border-radius: 50%;
}

.about-me p {
    margin: 20px 0;
}

/* CSS properties applied to a class */
.backgroundImage {
    display: flex;
    height: 150px;
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
    background-image: url("../Images/banner.jpg");
    background-size: cover;
    background-position: center;
}

section {
display: flex;
flex-direction: row;
flex-wrap:wrap;
/*Created space between each row and broke up the vertical right border on aside */
padding: 10px;
}

article, aside {
    flex-basis: 100%;
    padding: 10px;
}

#work article{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.project-display {
    position: relative;
    flex: 1 1 40%;
    /* width: 100%; */
    padding: 10px;
}

.project-display:hover {
    /* border-color: yellow; */
    border: 9px solid purple;
    padding: 2px;
    opacity: 40%;
}

.project-display img {
    width:100%;
}

#main-project {
    flex: 1 1 100%;
}

.text-image {
    position:absolute;
    background-color: #fff;
    bottom: 30px;
    padding: 5px;
    margin: 5px;

}

/* .project-main {
    background-image: url("../Images/placeholder\ image.jpg");
    background-repeat: no-repeat;
    height: 200px;
    background-size: cover;
    max-width: 94%;
    margin-left: 3%;
} */


/* .text-image {
    background-color: white;
    max-height: 10%;
} */

.project-grouping {
    display: flex;
    justify-content: space-evenly;
}

/* .project-grouping p {
    background-image: url("../Images/placeholder\ image.jpg");
    background-repeat: no-repeat;
    height: 200px;
    background-size: cover;
} */


/* .project-main p {
    width: 80vw;
} */

/* #work img:hover {
scroll-behavior: ;
} */

aside {
    border-bottom: 3px solid grey;
}

article {
    padding-left: 10px;
    padding-right: 10px;
}

/* .project-main p {
    flex-basis: 92%;
} */

.project-grouping p {
    flex-basis: 48%;
 }
 
 .contact-me {
    padding-top: 10px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}

@media screen and (min-width: 800px) {

   header h1, header nav {
       flex: 5;
       /* flex-basis: 51% ; */
   }
   
   aside {
        flex: 2;
        border-right: 3px solid grey;
        border-bottom: none;
    }
    
    article {
        flex: 8;
    }
}