/* Universal selector applies to properties in whole html */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --MakeupTan: #DDAF94;
    --Blush: #E8CEBF;
    --ComplimentaryGreen: #266150;
   --DarkHighlight: #4F4846;
    --LightlyOffWhite: #FDF8F5;
}

/* The properties in the html body are defined here */
body {

    /* background-color: rgb(203, 194, 207); */
    background-color: var(--Blush);
    font-family: Arial, Helvetica, sans-serif;
}

/* The properties for flexbox nav inside flexbox header are defined here */
header, header nav {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    padding-top: 10px;
}

/* Porperties only related to header nav are defined here */
header nav {
    justify-content: space-evenly;
}

/* Profile image properties are defined here */
.about-me-image {
    margin: 10px;
    width: 120px;
    border-radius: 50%;
}

/* Porperties related to p in about me area of webpage */
.about-me p {
    margin: 20px 0;
}

/* CSS properties applied to a class*/
.backgroundImage {
    display: flex;
    height: 150px;
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
    background-image: url("../Images/banner.jpg");
    background-size: cover;
    background-position: center;
}

/* Section is a row in the html. Its properties are defined here. */
section {
display: flex;
flex-direction: row;
flex-wrap:wrap;
/*Created space between each row and broke up the vertical right border on aside */
padding: 10px;
}

/* Article and Aside are columns. Properties defined here */
article, aside {
    flex-basis: 100%;
    padding: 10px;
}

/* Properties specific to work area of webpage are defined here. Allows the projects to be algined in desired format */
#work article{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

/* Formatting of the container that has links <a> */
.project-display {
    position: relative;
    /* flex grow shrink and flex basis formatting */
    flex: 1 1 40%;
    padding: 10px;
}

/* Animation that highlights the project imaged that cursor is on */
.project-display:hover {
    border: 9px solid var(--MakeupTan);
    padding: 2px;
    opacity: 40%;
}

/* Image styling for all project images */
.project-display img {
    width:100%;
    height:100%;
}

/* Main Project styling, it takes a hundred percent of width */
#main-project {
    flex: 1 1 100%;
}

/* Styling of text on top of each project image */
.text-image {
    position:absolute;
    /* background-color: rgb(167, 161, 161); */
    background-color: var(--ComplimentaryGreen);
    /* color: purple; */
    color: var(--LightlyOffWhite);
    bottom: 30px;
    padding: 5px;
    margin: 5px;

}

/* Formatting for column area in aside */
aside {
    border-bottom: 3px solid grey;
}

/* Formatting for column area in article */
article {
    padding-left: 10px;
    padding-right: 10px;
}
 
/* Formatting for contact me area of webpage */
 .contact-me {
    padding-top: 10px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}

/* Formatting for a specfic element in class */
.contact-me a {
    color: var(--ComplimentaryGreen);
}

/* Formatting for footer area */
footer h6 {
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: var(--DarkHighlight);
}

/* When screen changes such that min width is 800 px, then change formatting */
@media screen and (min-width: 800px) {

   header , header nav {
       flex: 5;
   } 

   aside {
        flex: 2;
        border-right: 3px solid grey;
        border-bottom: none;
    }
    
    article {
        flex: 8;
    }
}